h3{
	background: transparent;
	margin-left: 0px;
	padding-left: 70px;

}
span{
	color: rgb(255, 127, 80, 0.7);
	padding: 20px;
	font-size: 50px;
	font-weight: bold;
	font-family: cursive;
	padding: 0px;
	transform: scale(9.0);

}

label{
	font-size: 25px;
	color: whitesmoke;
	font-weight: bold;
	font-family: cursive;
	background: lightblue;
	transform: scale(9.0);
}
li{
	font-display: block;
	display: inline-grid;
	border: 1px solid black;
	border-radius: 5px;
	background: lightblue;	
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(5.jpeg);
	font-family: cursive;
	float: right;
	margin: 10px;
	margin-top:0px;
}

li:hover{
	background: orange;
}

a{
	text-decoration: none;
	background: off;
	color: orange;
}

body{
	background-image: url(15.jpeg);
	background-repeat: off;

	animation-name:bayo;
	animation-duration: 20s;
	animation-iteration-count:infinite;
	animation-timing-function: ease in;
}
@keyframes bayo{
	0% {background-image: url(1.jpeg);}
   10% {background-image: url(2.jpeg);}
   20% {background-image: url(3.jpeg);}
   30% {background-image: url(4.jpeg);}
   40% {background-image: url(5.jpeg);}
   50% {background-image: url(6.jpeg);}
   60% {background-image: url(7.jpeg);}
   70% {background-image: url(8.jpeg);}
}

p{
	font-family: cursive;
	color: skyblue;
	padding-top: 21px;
	background-image: url();
	
	border-radius: 5px;
	font-size: 25px;
}
div{
	text-align: right;
}

.Phone{
	text-align: right;
	color: darkorange;
}
#Email{
	color: purple;
}
#Social{
	text-align: right;
	color: green;
}