h3{
	background: transparent;
	margin-left: 0px;
	padding-left: 70px;

}
span{
	color: rgb(255, 127, 80, 0.7);
	padding: 20px;
	font-size: 50px;
	font-weight: bold;
	font-family: cursive;
	padding: 0px;
	transform: scale(9.0);

}

label{
	font-size: 25px;
	color: whitesmoke;
	font-weight: bold;
	font-family: cursive;
	background: lightblue;
	transform: scale(9.0);
}
ul{
	font-display: block;
	display: inline-grid;
	border: 1px solid black;
	border-radius: 5px;
	background: lightblue;	
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(5.jpeg);
	font-family: cursive;
	float: right;
	margin: 10px;
	margin-top:0px;
	list-style-type: none;
}

ul:hover{
	background: orange;
}

body{
	background-image: url(1.jpeg);
	animation-name: bayo;
	animation-duration: 20s;
	animation-iteration-count:infinite;
	animation-timing-function: ease in;
}
@keyframes bayo{
	0% {background-image: url(1.jpeg);}
   10% {background-image: url(2.jpeg);}
   20% {background-image: url(3.jpeg);}
   30% {background-image: url(4.jpeg);}
   40% {background-image: url(5.jpeg);}
   50% {background-image: url(6.jpeg);}
   60% {background-image: url(7.jpeg);}
   70% {background-image: url(8.jpeg);}

}
p{
	font-family: cursive;
	color: black;
}
li{
	list-style-type: disc;
	color: black;
	font-family: cursive;
}
a{
	text-decoration: none;
	background: none;
	color: orange;
}

footer{
	text-align: center;
	font-family: cursive;
	color: lightblue;

}
